.tileContainer {
    height: 350px;
    width: 95%;
    overflow: hidden;
    margin: 5%;
    display: flex;
    justify-content: center;
    transition: all 300ms ease-in;

    &::after{
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        pointer-events   : none;
        background-image : linear-gradient(to right, 
                            rgba(255,255,255, 0), 
                            rgba(207, 219, 213, 1) 110%);
        width: 20%;
        height: 100%;
    }
    
    &::before{
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        pointer-events   : none;
        background-image : linear-gradient(to left, 
                            rgba(255,255,255, 0), 
                            rgba(207, 219, 213, 1) 110%);
        width: 20%;
        height: 100%;
    }
    
    .scrollhider {
        height: 400px;
        max-height: 400px;
        display: flex;
        overflow-x: scroll;
    }
}

.tile {
    text-align: center;
    width: 300px;
    height: 300px;
    min-width: 300px;
    border-radius: 15px;
    background-color: var(--alabaster);
    color: var(--jet);
    padding: 2px;
    margin: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.04), 
        0 0 2px 2px rgba(0,0,0,0.03), 
        0 4px 4px rgba(0,0,0,0.02), 
        0 6px 8px rgba(0,0,0,0.02);
    transition: all 300ms ease;

    &:hover {
        background-color: $maizeCrayola;
    }

    &__tools {
        height: 10px;
        width: 100%;

        .tile__remove {
            height: 40px;
            width: 40px;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            z-index: 1;
            .fa-times {
                color: $jet;
                pointer-events: none;
            }
        }
    }

    &__weatherLogo {
        height: 40%;
        overflow: hidden;
    }

    img {
        height: 100%;
    }
    
    h1, h2, h3, h4 {
        color: var(--jet);
        text-align: center;
        margin: 5px auto;
        margin-top: -15px;
    }
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $alabaster;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.04), 
        0 0 2px 2px rgba(0,0,0,0.03), 
        0 4px 4px rgba(0,0,0,0.02), 
        0 6px 8px rgba(0,0,0,0.02);
    
    &__field {
        border: none;
        background-color: $alabaster;
        width: 200px;
        height: 45px;
        font-size: 25px;
        margin-right: -30px;
        color: $jet;
        text-align: left;
        padding-left: 15px;
        
        
        &:hover {
            background-color: $maizeCrayola;
            color: $jet;
        }
        &:active, 
        &:focus {
            outline: none;
            border: none;
        }
        &:active {
            background-color: $maizeCrayolaDark;
        }
        &:focus::placeholder {
            color: transparent;
        }
    }

    &__button {
        background-color: $alabaster;
        border: none;
        padding: 2.5px 15px;
        height: 45px;
        font-weight: bold;
        color: $jet;
        cursor: pointer;

        &:hover {
            background-color: var(--maizeCrayola);
            color: var(--jet);
        }
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
        &:active {
            background-color: var(--maizeCrayolaDark);
            color: var(--jet);
        }
    }

    .fa-search {
        color: $jet;
        font-size: 0.6rem;
    }

}




