:root {
    --jet: #333533;
    --eerieBlack: #242423;
    --maizeCrayola: #f5cb5c;
    --alabaster: #e8eddf;
    --timberwolf: #CFDBD5;
    --maizeCrayolaDark: #F0B719;
    font-size: 30px;
}

$jet: #333533;
$eerieBlack: #242423;
$maizeCrayola: #f5cb5c;
$alabaster: #e8eddf;
$timberwolf: #CFDBD5;
$maizeCrayolaDark: #F0B719;